@model IEnumerable<proyectoInmobiliaria.NET.Models.TipoInmueble>

@{
	ViewData["Title"] = "Home Page";
}

@if (TempData["Ok"] is string ok)
{
	<div class="alert alert-success">@ok</div>
}
@if (TempData["Error"] is string err)
{
	<div class="alert alert-danger">@err</div>
}


<h1>
	Tipo de Inmuebles
	<div class="btn-group pull-right">
		<a class="btn btn-primary" asp-action="Create" title="Crear">Crear</a>
	</div>
</h1>

<table class="table">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.nombre)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.descripcion)
			</th>

		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.nombre)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.descripcion)
				</td>
				<td>
					<div class="btn-group" role="group">
						<a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.idTipoInmueble" title="Editar">
							Editar
						</a>
						@if (User.IsInRole("Administrador"))
						{
							<a class="btn btn-danger btnOpcion" asp-action="Delete" asp-route-id="@item.idTipoInmueble"
								title="Eliminar">
								Eliminar
							</a>
						}
					</div>

				</td>
			</tr>
		}
	</tbody>
</table>
<div>
	<a class="btn btn-primary m-2" asp-action="Index">Volver</a>
</div>