@model IEnumerable<proyectoInmobiliaria.NET.Models.Pago>

@{
    ViewData["Title"] = "Pagos";
}

@if (TempData["Ok"] is string ok)
{
    <div class="alert alert-success">@ok</div>
}
@if (TempData["Error"] is string err)
{
    <div class="alert alert-danger">@err</div>
}

<h1>
    Pagos
    <div class="btn-group pull-right">
        <a class="btn btn-primary" asp-action="Create" title="Registrar">Registrar nuevo pago</a>
    </div>
</h1>

<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.idPago)</th>
            <th>@Html.DisplayNameFor(model => model.descripcion)</th>
            <th>@Html.DisplayNameFor(model => model.numPago)</th>
            <th>@Html.DisplayNameFor(model => model.idContrato)</th>
            <th>@Html.DisplayNameFor(model => model.fechaPago)</th>
            <th>@Html.DisplayNameFor(model => model.importe)</th>
            <th>@Html.DisplayNameFor(model => model.estado)</th>
            @if (User.IsInRole("Administrador"))
            {
                <th>@Html.DisplayNameFor(model => model.idUsuarioAlta)</th>
            }
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(_ => item.idPago)</td>
            <td>@Html.DisplayFor(_ => item.descripcion)</td>
            <td>@Html.DisplayFor(_ => item.numPago)</td>
            <td>@Html.DisplayFor(_ => item.idContrato)</td>
            <td>@item.fechaPago.ToString("dd/MM/yyyy")</td>
            <td>@Html.DisplayFor(_ => item.importe)</td>
            <td>@Html.DisplayFor(_ => item.estado)</td>
            @if (User.IsInRole("Administrador"))
            {
                <td>@Html.DisplayFor(_ => item.idUsuarioAlta)</td>
            }
            <td>
                <div class="btn-group" role="group">
                    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.idPago" title="Editar">Editar</a>
                    @if (User.IsInRole("Administrador"))
                    {
                        <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.idPago" title="Eliminar">Eliminar</a>
                    }
                </div>
            </td>
        </tr>
    }
    </tbody>
</table>

@if (User.IsInRole(role: "Administrador"))
{
    <div class="btn-group pull-right">
        <a class="btn btn-primary" asp-action="Anulados" title="Pagos anulados">Pagos anulados</a>
    </div>
}
