@model IEnumerable<proyectoInmobiliaria.NET.Models.Inmueble>

@{
	ViewData["Title"] = "Disponibles";
}

<table class="table">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.direccion)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.uso)
			</th>

			<th>
				@Html.DisplayNameFor(model => model.tipo)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.precio)
			</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>

				<td>
					@Html.DisplayFor(modelItem => item.direccion)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.uso)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.tipo)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.precio)
				</td>
			</tr>
		}
	</tbody>
</table>

<div>
	<a class="btn btn-primary m-2" asp-action="Index">Volver</a>
</div>