@model proyectoInmobiliaria.NET.Models.Inquilino

@{
    ViewData["Title"] = "Detalles";
}

<h2>Detalles del Inquilino</h2>

<table class="table">
    <tr>
        <th>@Html.DisplayNameFor(model => model.id)</th>
        <td>@Html.DisplayFor(model => model.id)</td>
    </tr>
    <tr>
        <th>@Html.DisplayNameFor(model => model.nombre)</th>
        <td>@Html.DisplayFor(model => model.nombre)</td>
    </tr>
    <tr>
        <th>@Html.DisplayNameFor(model => model.apellido)</th>
        <td>@Html.DisplayFor(model => model.apellido)</td>
    </tr>
    <tr>
        <th>@Html.DisplayNameFor(model => model.dni)</th>
        <td>@Html.DisplayFor(model => model.dni)</td>
    </tr>
    <tr>
        <th>@Html.DisplayNameFor(model => model.celular)</th>
        <td>@Html.DisplayFor(model => model.celular)</td>
    </tr>
    <tr>
        <th>@Html.DisplayNameFor(model => model.email)</th>
        <td>@Html.DisplayFor(model => model.email)</td>
    </tr>
</table>
<div>
    <a class="btn btn-primary m-2" asp-action="Index">Volver</a>
</div>