@model IEnumerable<proyectoInmobiliaria.NET.Models.Inquilino>

@{
	ViewData["Title"] = "Home Page";
}

<div class="text-center">
	<h1 class="display-4">Welcome</h1>
	<p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
+
<h1>
	Inquilinos
	<div class="btn-group pull-right">
		<a class="btn btn-primary" asp-action="Create" title="Crear"><i class="fa-solid fa-plus"></i></a>
	</div>
</h1>

<table class="table">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.id)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.nombre)
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.id)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.nombre)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.apellido)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.dni)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.celular)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.email)
				</td>
				<td>
					<div class="btn-group" role="group">
						<a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.id" title="Editar">
							<i class="fa-solid fa-pen"></i>
						</a>
						<a class="btn btn-danger" asp-action="Eliminar" asp-route-id="@item.id" title="Eliminar">
							<i class="fa-solid fa-trash-can"></i>
						</a>
						<a class="btn btn-secondary" asp-action="PorPropietario" asp-controller="Inmuebles" asp-route-id="@item.id" title="Mis Propiedades">
							<i class="fa-solid fa-building"></i>
						</a>
					</div>
				</td>
			</tr>
		}	
	</tbody>
</table>
